:root {
    --console-border: 2px solid #eee;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --console-border: 2px solid #181818;
    }
}

pre, textarea {
    letter-spacing: 0.04em;
    line-height: 1.25em;
    tab-size: 4;
}

h1 pre, h2 pre, h3 pre, h4 pre, h5 pre, h6 pre {
    font-weight: 800;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ide > *:not(:first-child) {
    border-top: var(--console-border);
}

textarea {
    flex-grow: 1;
    height: auto;
    min-height: 13em;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controls > * {
    margin: 0.75em 0.5em;
}

.controls button {
    cursor: pointer;
}

.controls .loading-indicator {
    height: 1em;
    width: 1em;
    border: 3px solid transparent;
    box-sizing: border-box;
}

.controls .loading-indicator.loading {
    border-color: rgba(255, 255, 255, 0.1);
    border-top-color: #0099ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.console {
    display: flex;
    flex-direction: column;
}

.console-output {
    position: relative;
    max-height: 20vh;
    min-height: 30em;
    overflow: auto;
    border-radius: 0.25em;
    border-color: #000;
    padding: 0.5em 0.75em;
    margin: 0;
}

.console-output .stderr {
    color: #a00;
}

.console-output .note {
    color: #00a;
    position: absolute;
    right: 0;
    transform: translateY(calc(-100% + 0.1em));
    padding: 0.1em;
    padding-left: 0.5em;
    background-color: rgba(80, 80, 80, 0.1);
    border-radius: 0.5em;
}

.terminal {
    padding: 0.4em;
}

@media screen and (prefers-color-scheme: dark) {
    body, textarea, button {
        background-color: rgb(33, 33, 33);
        color: #eee;
    }

    button {
        border: 1px solid;
        border-radius: 0.2em;
    }

    .console {
        border-top-color: #eee;
    }

    .console-output .stderr {
        color: #ff5050;
        font-weight: bolder;
    }

    .console-output .note {
        color: #88f;
        background-color: rgba(80, 80, 80, 0.9);
    }
}
