:root {
    --console-border: 2px solid #eee;
    --controls-height: 2.5em;
    --panes-height: calc(100vh - var(--controls-height));
    --app-controls-color: #222;
    --app-controls-background: #fff;
    --app-controls-highlight: rgba(119, 0, 136, 0.1);

    --app-title-highlight: #708;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --console-border: 2px solid #181818;
        --app-controls-color: #fff;
        --app-controls-background: #111;
        --app-controls-highlight: rgba(199, 146, 234, 0.1);

        --app-title-highlight: #C792EA;
    }
}

pre, textarea {
    letter-spacing: 0.04em;
    line-height: 1.25em;
    tab-size: 4;
}

h1 pre, h2 pre, h3 pre, h4 pre, h5 pre, h6 pre {
    font-weight: 800;
}

#app {
    height: 100%;
}

h1.app-title {
    font-family: var(--font-mono);
    font-weight: 800;
    font-size: 1em;
    cursor: default;
    user-select: none;

    margin: 0;
    padding-right: 0.6em;
    margin-right: 0.2em;
    border-right: 1px solid #ddd;
}

.app-title-go {
    color: var(--app-title-highlight);
    display: inline-block;
    transition: transform 0.2s 0s ease-in;
}

.app-title:hover .app-title-go {
    transform: matrix(1, 0, -0.25, 1, 0, 0);
}

.app-title-wasm:after {
    content: "()";
}

@media screen and (prefers-color-scheme: dark) {
    h1.app-title {
        border-right: 1px solid rgb(45, 45, 45);
    }

    .app-title-wasm {
        color: #f07178;
    }

    .app-title-wasm:after {
        color: white;
        content: "()";
    }
}

.ide {
    display: flex;
    flex-direction: column;
}

.ide .panes {
    overflow: hidden;
    max-height: var(--panes-height);
    height: var(--panes-height);
    display: flex;
    flex-direction: column;
}

.ide .pane {
    overflow: hidden;
    border-top: var(--console-border);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.ide .editors {
    flex-grow: 10;
    overflow: hidden;
    max-height: 60vh;
}

.ide .pane:first-child .tab-bar {
    font-family: var(--font-mono);
    font-size: 0.8em;
}

.ide .controls {
    height: var(--controls-height);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--app-controls-background);
    padding: 0 1em;
}

.ide .controls button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 2.6em;
    width:  2.6em;
    border: none;
    border-radius: 0.25em;
    background-color: transparent;
    color: var(--app-controls-color);
}

.ide .controls button:hover {
    color: var(--app-title-highlight);
    background-color: var(--app-controls-highlight);
}

.ide .controls .loading-indicator {
    height: 1em;
    width: 1em;
    border: 3px solid transparent;
    box-sizing: border-box;
}

.ide .controls .loading-indicator.loading {
    border-color: rgba(255, 255, 255, 0.1);
    border-top-color: #0099ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.console {
    display: flex;
    flex-direction: column;
}

.console-output {
    position: relative;
    overflow: auto;
    border-radius: 0.25em;
    border-color: #000;
    padding: 0.5em 0.75em;
    margin: 0;
}

.console-output .stderr {
    color: #a00;
}

.console-output .note {
    color: #00a;
    position: absolute;
    right: 0;
    transform: translateY(calc(-100% + 0.1em));
    padding: 0.1em;
    padding-left: 0.5em;
    background-color: rgba(80, 80, 80, 0.1);
    border-radius: 0.5em;
}

.terminal {
    padding: 0.4em;
}

@media screen and (prefers-color-scheme: dark) {
    body, textarea, button {
        background-color: rgb(33, 33, 33);
        color: #eee;
    }

    button {
        border: 1px solid;
        border-radius: 0.2em;
    }

    .console {
        border-top-color: #eee;
    }

    .console-output .stderr {
        color: #ff5050;
        font-weight: bolder;
    }

    .console-output .note {
        color: #88f;
        background-color: rgba(80, 80, 80, 0.9);
    }
}
