body {
    font-family: "Helvetica Neue", Helvetica;
    height: 100%;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.tabs > nav ul {
    list-style: none;
    padding: 0;
    margin: 0.25em;
}

.tabs > nav li {
    display: inline-block;
}

.tabs > nav button {
    font-size: 1em;
    padding: 0.5em 1.5em;
    margin: 0;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}

.tabs > nav button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
    border-color: rgba(255, 255, 255, 0.5)
}

.tabs > nav button.active {
    border-bottom: 1px solid white;
}

.tabs > nav button.active:not(:hover) {
    background-color: rgba(0, 0, 0, 0.1);
}

.tabs > nav .tab-title {
    display: inline-block;
}

.tabs > .tab .tab-contents {
    display: none;
}

.tabs > .tab.active .tab-contents {
    display: unset;
}
