body {
    font-family: "Helvetica Neue", Helvetica;
    height: 100%;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}
