:root {
    --tab-background: #fff;
    --tab-bar: transparent;
    --tab-active: #fff;
    --tab-hover: #ccc;
    --tab-highlight: rgb(170, 170, 170);
    --control-color: var(--tab-highlight);
    --control-hover: #000;
    --control-hover-background: var(--tab-active);

    --tab-bar-height: 2.25em;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --tab-background: rgb(20, 20, 20);
        --tab-bar: transparent;
        --tab-active: rgb(33, 33, 33);
        --tab-hover: rgb(40, 40, 40);
        --tab-highlight: rgb(170, 170, 170);
        --control-color: var(--tab-highlight);
        --control-hover: #fff;
        --control-hover-background: var(--tab-active);
    }
}

.tab-bar {
    background-color: var(--tab-background);
    height: var(--tab-bar-height);
}

.tab-bar button {
    cursor: pointer;
    margin: 0;
    outline: none;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.tab-bar .tab-button {
    font-size: 1em;
    height: var(--tab-bar-height);
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    background-color: var(--tab-bar);
}

.tab-bar .tab-button:hover {
    border-bottom: 1px solid var(--tab-highlight);
    background-color: var(--tab-hover);
}

.tab-bar .tab-button.active {
    background-color: var(--tab-active);
}

.tab-bar .tab-button.active:hover {
    background-color: var(--tab-hover);
}

.tab-bar .tab-button {
    display: inline-block;
}

.tabs {
    flex-grow: 1;
}

.tab.active {
    visibility: visible;
}

.tab:not(.active) {
    visibility: hidden;
    position: absolute;
}

.tab-new {
    display: inline-block;
    background: none;
    border: none;
    color: var(--control-color);
    border-radius: 0.25em;
    padding: 0.1em 0.4em;
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 1em;
}

.tab-new:before {
    content: "\FF0B"; /* full-width plus */
}

.tab-new:hover {
    background-color: var(--control-hover-background);
    color: var(--control-hover);
}
