.settings-dropdown {
    color: var(--app-controls-color);
    background-color: var(--app-controls-background);
    text-align: left;
    width: 20em;
    padding: 0.5em 1em;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--app-controls-background-light);
    border-bottom-left-radius: 0.5em;
}

.settings-dropdown button {
    cursor: pointer;
}

.settings-dropdown ul {
    padding: 0;
    margin: 0;
}

.settings-dropdown ul li {
    list-style: none;
    margin: 0.5em;
}

.settings-dropdown .danger {
    color: var(--color-danger);
}
