:root {
    --color-danger: #af1a1a;

}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --color-danger: #ff8989;
    }
}

.ide {
    display: flex;
    flex-direction: column;
}

.ide header, .ide header .controls {
    height: var(--controls-height);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--app-controls-background);
}

.ide header {
    padding: 0 1em;
}

.ide .panes {
    overflow: hidden;
    max-height: var(--panes-height);
    height: var(--panes-height);
    display: flex;
    flex-direction: column;
}

.ide .pane {
    overflow: hidden;
    border-top: var(--console-border);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 0.9em;
}

.ide .editors {
    flex-grow: 10;
    overflow: hidden;
    max-height: 60vh;
}

.ide .pane:first-child .tab-bar {
    font-family: var(--font-mono);
}

.ide .controls {
    flex-grow: 1;
}

.ide .controls .control {
    padding: 0;
    margin: 0.1rem;
    height: 2rem;
    width:  2rem;
    border: none;
    border-radius: 0.25em;
    background-color: transparent;
    color: var(--app-controls-color);
    outline: none;
    cursor: pointer;
}

.ide .controls .control:hover {
    color: var(--app-accent);
    background-color: var(--app-controls-highlight);
}

.ide .controls .spacer {
    flex-grow: 1;
}

.ide .controls .control > a {
    display: block;
    height: inherit;
    width: inherit;
    color: inherit;
    text-decoration: none;
}

.ide .controls .control > a span {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    height: 1em;
}

.ide .controls .loading-indicator {
    margin: 0.6em;
    height: 1em;
    width: 1em;
    border: 3px solid transparent;
    box-sizing: border-box;
}

.ide .controls .loading-indicator.loading {
    border-color: rgba(255, 255, 255, 0.1);
    border-top-color: var(--app-accent-alternate);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dialog {
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    top: var(--controls-height);
    right: 0;
    color: var(--app-controls-color);
    background-color: var(--app-controls-background);
    text-align: left;
    width: 20em;
    padding: 0 1em;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--app-controls-background-light);
    border-bottom-left-radius: 0.5em;
}

.dialog.dialog-show {
    visibility: visible;
}
